/*****************************
                                                                                    
Simple:
A lightweight CSS framework for rapidly creating websites and web apps.

Created by       :: Jesse Jones
Version          :: v1
Last Modified    :: 12/17/13
http://www.jessejones.me

Table of Contents 

  -Reset   
  -Global
  -Typography
  -Grid
  -Navigation
  -Media Queries

******************************/


/*-----------------------------------*\
    RESET / NORMALIZE
\*-----------------------------------*/
@import url("normalize.css");

/* Default reset is Normalize.css from http://necolas.github.io/normalize.css/
Created by Nicolas Gallagher and Jonathan Neal. */ 

/*-----------------------------------*\
    GLOBAL
\*-----------------------------------*/
html,
body {font-size: 100%;}  
body {
  font-family: "Helvetica Neue", "Helvetica", Arial, sans-serif;
  font-size:100%;
  font-style: normal;
  font-weight: normal;
  padding: 0;    
  text-rendering: optimizeLegibility;   
}

/*-----------------------------------*\
    TYPOGRAPHY
\*-----------------------------------*/

/* Percentage based h1-h6 automatically scale when font-size is changed in body tag.*/
h1, h2, h3, h4, h5, h6 {
  font-weight: bold;
  margin-top: 0.2em;
  margin-bottom: 0.5em;
  line-height: 1.2125em; 
}
h1 {font-size: 218%;}
h2 {font-size: 164%;}
h3 {font-size: 145%;}
h4 {font-size: 118%;}
h5 {font-size:100%;}
h6 {font-size:82%;}

h1, h2, h3, h4, h5, h6 {
  padding:0px 12px 0px 12px;
  word-wrap: break-word;  
}

.subhead {
  font-weight:200;
  color:#999999;
}

p {
  font-size:100%;
  font-weight: normal;
  line-height: 1.6em;
  margin-bottom: 1.25em;
  padding: 0px 12px 12px 12px;  
  word-wrap: break-word;    
}

/*-----------------------------------*\
    GRID
\*-----------------------------------*/

/* Change size of container to any size you want. 
Default is 960px for desktop and scales down with media-queries */

.container {
  max-width: 960px;
  margin: 0 auto;
  padding: 0;  
}

.row:after{content: ".";display: block;height: 0;clear: both;visibility: hidden;}
.row {
	clear: both;
	padding: 0 10px;
}

.col{
  float:left;  
  -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
  -moz-box-sizing: border-box;    /* Firefox, other Gecko */
  box-sizing: border-box;
  overflow: hidden;  
}

.w1-1 {float:none;}
.w1-2 {width:50%;}
.w1-3 {width:33.333333%;width:calc(100% / 3);}
.w2-3 {width:66.666666%;width:calc(100% / 3 * 2);}
.w1-4 {width:25%;}
.w3-4 {width:75%;}
.w1-5 {width:20%;}
.w2-5 {width:40%;}
.w3-5 {width:60%;}
.w4-5 {width:80%;}

.lastCol {display: table-cell;float:none;width:auto;}
.col1-1 img, .col1-2 img, .col1-3 img, .col2-3 img, .col1-4 img, .col3-4 img, .col1-5 img, .col2-5 img, .col3-5 img, .col4-5 img {
	width: 100%;
	height: auto;
	display: block;
}

/*-----------------------------------*\
    List Styles
\*-----------------------------------*/

ul.horizontal, ul.vertical {
  list-style-type:none;  
  margin-left:0px;
  padding-left:0px;  
}

ul.horizontal li {display: inline;}

/*-----------------------------------*\
    MEDIA QUERIES
\*-----------------------------------*/

@media all and (min-width: 960px) {
	.container {max-width: 960px;}
	.container .row {padding: 0;}
}
@media all and (max-width: 960px) {
.container {max-width:100%;}
}

@media all and (max-width: 678px) {
	.row {max-width:90%}
	.w1-1, .w1-2, .w1-3, .w2-3, .w1-4, .w3-4, .w1-5, .w2-5, .w3-5, .w4-5 {
		float: none;
		margin:0;
		width: 100%;
	}
}