body {
  font-family:"Helvetica Neue","Helvetica",Arial,sans-serif;
	border-top:solid 8px #000000;	
	padding-bottom:40px;
}

header {
	padding-bottom:10px;
	margin-bottom:30px;
}

.right {
    float:right;   
}

#sidebar {
    padding-bottom:30px;
}
.title {
	font-size:270px;
	letter-spacing:-20px;
	margin-bottom:-80px;
	margin-top:0px;
	padding-top:0px;
}
.tagline {
	font-size:20px;
	margin-bottom:50px;
	margin-left:165px;
}
p.intro {
	font-size:20px;
	color:#999999;
	font-weight:200;
}
.author {
	font-size:0.8em;
	font-weight:bold;
	margin-top:10px;
	margin-bottom:0px;
}
span.subhead {color:#999999;}

.button {
	margin-top:22px;
	padding:20px;
	background-color:#E6604E;
	color:#ffffff;
	text-decoration:none;
	display:block;
	text-align:center;
	font-weight:bold;
}
.button:hover {
	background-color:#E83A23;
}

code {
	font-size:14px;
}


.tags {
-moz-border-radius: 4px;
border-radius: 4px;
padding:3px 5px 3px 5px;
background-color:#E6604E;
color:#ffffff;	
}
.tags:hover {
	background:#E83A23;
}
/* Media Query */


@media (max-width:960px){

	.title {
			font-size:220px;
			letter-spacing:-10px;
			margin-bottom:-40px;
	}
	.tagline {
		display:inline;
		margin-bottom:100px;
		margin-left:150px;
		font-size:16px;
	}	
}

@media (max-width:767px) {
 
	.title {
			font-size:100px;
			letter-spacing:-10px;
			margin-bottom:-24px;
			padding:0px;
	}   
	.tagline {
		display:inline;
		margin-bottom:100px;
		margin-left:10px;
		font-size:10px;
	}
}  
